html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f1e8ff;
}

h1 {
	font-size: 48px;
	font-family: Arial, sans-serif;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 20px 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.worldmap {
	margin-bottom: 5rem;
}
.dropdown {
	margin-bottom: 3rem;
}
.sphere {
	fill: #f1e8ff;
}

.country {
	stroke: black;
	stroke-width: 0.1px;
}

.country.highlighted {
	stroke-width: 0.1px;
}

.country:hover {
	opacity: 0.8;
}

.tick {
	cursor: pointer;
}

.tick text {
	font-size: 1em;
	fill: black;
	font-family: sans-serif;
}

.tick circle {
	stroke: black;
	stroke-opacity: 0.5;
}
